<div
  style="
    margin-left: 50px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 30px;
    background-image: url('assets/img/list.jfif');
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 50px;
  "
>
  <img
    src="assets/img/logo.png"
    width="150"
    height="50"
    style="margin-top: 15px; margin-left: -20px"
  />
  <span style="font-size: 30px; color: #23bdc3; margin-top: 25px"
    >Contact Details</span
  >
  <div style="margin-top: 25px">
    <app-add-contact></app-add-contact>
  </div>
</div>
